[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/SolSha2Ext"]
	path = lib/SolSha2Ext
	url = https://github.com/marlinprotocol/SolSha2Ext
[submodule "lib/solidity-cbor"]
	path = lib/solidity-cbor
	url = https://github.com/marlinprotocol/solidity-cbor
[submodule "lib/buffer"]
	path = lib/buffer
	url = https://github.com/ensdomains/buffer
[submodule "lib/solidity-lib"]
	path = lib/solidity-lib
	url = https://github.com/dl-solarity/solidity-lib
